CompileFlags:
  Add: [-I/Users/connorfranc/Library/Arduino15/packages/arduino/hardware/avr/1.8.6/cores/arduino, -I/Users/connorfranc/Library/Arduino15/packages/arduboy-homemade/hardware/avr/1.4.0/libraries/ArduboyFX/src, -I/Users/connorfranc/Library/Arduino15/packages/arduboy-homemade/hardware/avr/1.4.0/cores/arduboy, -I/Users/connorfranc/Library/Arduino15/packages/arduboy-homemade/hardware/avr/1.4.0/libraries/Arduboy2/src, -I/Users/connorfranc/Library/Arduino15/packages/arduino/tools/avr-gcc/7.3.0-atmel3.6.1-arduino7/avr/include, -I/Users/connorfranc/Library/Arduino15/packages/arduboy-homemade/hardware/avr/1.4.0/variants/arduboy-leonardo] 
